@tailwind base;
@tailwind components;
@tailwind utilities;

.hover\:bg-white {
    background: linear-gradient(90deg, #FFFFFF 50%, #E0953F 50%);
    background-size: 200% 100%;
    background-position: right bottom;
  }
  
  .hover\:bg-white:hover {
    background-position: left bottom;
  }